.wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0vh;
  width: 100%;
  -moz-column-gap: 5%;
  column-gap: 5%;
  margin-bottom: 20px;
}

.wrapper .icon {
  position: relative;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.wrapper .icon span {
  color: #fff;
  transition: 0.4s linear;
}

.wrapper .icon::before,
.wrapper .icon::after {
  content: " ";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  transition: 0.4s linear;
}

.wrapper .icon:hover::before {
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
  color: #fff;
}

.wrapper .icon:hover::after {
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewY(-20deg);
  color: #fff;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* FIN MENU */
/* BUTTON */
.bodyTwo {
  margin: 50px 50%;
  background-color: #111;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 3px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  /* Hides the overflowing ::before pseudo-element. */
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  /*Making the width double the size of the parent since we are going to be animation the transform: translateX() to the left. */
  height: 100%;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  background-size: 50% 100%;
  border-radius: inherit;
}
.btn:hover::before {
  -webkit-animation: animate_border 0.75s linear infinite;
  animation: animate_border 0.75s linear infinite;
}
.btn span {
  display: block;
  background-color: #000;
  padding: 13px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 2;
}

@keyframes animate_border {
  to {
    transform: translateX(-50%);
  }
}
/* FIN BUTTON */

.card {
  width: 200px;
  height: 250px;
  background-color: #151515;
  border: 5px solid;

  -o-border-image: linear-gradient(#ff512f, #dd2476, #1c64ff) 1;
  border-image: linear-gradient(#ff512f, #dd2476, #1c64ff) 1;
  -webkit-animation: rotate 2.5s ease-in infinite;
  animation: rotate 2.5s ease-in infinite;
  color: white;
  text-align: center;
}
.card p {
  margin: 30px 0px;
}
@-webkit-keyframes rotate {
  50% {
    border-image: linear-gradient(360deg, #ff512f, #dd2476, #1c64ff) 1;
  }
}
@keyframes rotate {
  50% {
    -o-border-image: linear-gradient(360deg, #ff512f, #dd2476, #1c64ff) 1;
    border-image: linear-gradient(360deg, #ff512f, #dd2476, #1c64ff) 1;
  }
}
/* TITLE */
.bodytres {
  font-family: poppins, sans-serif;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100vh;
}
.showCase {
  width: 100%;
  height: 100vh;
  position: relative;
}

.showCase video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 200px;
  color: #fff;
  mix-blend-mode: multiply;
  text-align: center;
  padding-top: 15%;
}

/* FIN TITLE */

/* carousel */

/* one */
.carouseles {
  margin: 0px;
  width: 100%;
  height: 65vh;
  position: relative;
}

.carouselOne {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  // left: 300px;
}

.carouselOne img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.carouselTwo {
  width: 500px;
  height: auto;
  max-height: 600px;
  z-index: 2;
  position: absolute;
  top: 0%;
  left: 0%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(108%);
}
.carouselTwo .carousel-item img {
  width: 100%;
  height: 650px;
}
.cardHeader {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.botonHeader {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #000;
  color: white;
}
.carouselTrhee {
  width: 500px;
  height: 80%;
  position: absolute;
  z-index: 3;
  top: 10%;
  left: 43%;
  border-radius: 6px;
  background: white;
  box-shadow: 13px 13px 36px #c5c5c5, -13px -13px 36px #fbfbfb;
}
.carousel-item-Three {
  padding: 40px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.subitituloHeader {
  font: $subtitulo;
  font-size: 1.2rem;
  margin-bottom: 2vh;
}
.tituloHeader {
  font: $titulo;
  font-size: 3rem;
  color: $violetPrimary;
  margin-bottom: 2vh;
}
.tituloHeader span {
  color: $violetSecondary;
}
.botonHeader {
  align-self: center;
  margin: 2vh 0px;
}
/*  */

.container {
  height: 70vh;
  width: 17.7vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  box-shadow: 0 30px 63px -60px #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container h3 {
  font-size: 22px;
}
.container h2 {
  font-size: 30px;
}
.container button {
  width: 70%;
  height: 40px;
  font-size: 20px;
  border: 0px transparent;
  background-color: #762057;
  border-radius: 6px;
  color: white;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  /* border-radius: 10px;
      transition: border 1s; */
  position: relative;
}

.seleccion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #762057;
  margin: 20px 0px 20px 10px;
  opacity: 0;
  transition: opacity 1s;
  font-size: 11px;
}

.icon {
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  /* z-index: 1000; */
}

.icon h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #762057;
  font-size: 12px;
  justify-self: flex-start;
}

.iconTama {
  width: 30px;
  justify-self: flex-start;
}
.card {
  height: 379px;
  width: 300px;
  background: transparent;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  /* box-shadow: 0 30px 63px -60px #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card1 {
  background: url("./media/amalaya-malbec.jpg") center center no-repeat;
  background-size: 300px;
}

.card1:hover {
  background: url("./media/amalaya-malbec.jpg") left center no-repeat;
  background-size: 500px;
}

.container:hover h2 {
  opacity: 1;
}

.card1:hover .icon {
  opacity: 1;
}
.icons {
  position: absolute;
  height: 130px;
  top: 226px;
  left: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
