@import "./variables";
// LEMON MILK FONTS

// TITULO
@font-face {
  font-family: "lemonMilkBold";
  src: url("../Fonts/lemon_milk/LEMONMILK-Bold.otf");
  font-style: bold;
  font-weight: bold;
}

// SUBTITULO

@font-face {
  font-family: "lemonMilkRegular";
  src: url("../Fonts/lemon_milk/LEMONMILK-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

// SUBTITULO LIGHT
@font-face {
  font-family: "lemonMilkLight";
  src: url("../Fonts/lemon_milk/LEMONMILK-Light.otf");
  font-style: normal;
  font-weight: lighter;
}

// HELVETICA

// TEXTO

@font-face {
  font-family: "helveticaRegular";
  src: url("../Fonts/HelveticaNowText-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

//  TEXTO 2

@font-face {
  font-family: "helveticaMedium";
  src: url("../Fonts/HelveticaNowText-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

// TEXTO 3
@font-face {
  font-family: "helvetiaItalica";
  src: url("../Fonts/HelveticaNowText-RegIta.ttf");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: $texto;
  overflow-x: hidden;

  @include responsive(mobile) {
    max-width: $mobile;
    overflow-x: hidden;
  }
}

ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Hevetica";

  &:hover {
    text-decoration: underline;
  }
}

a:hover {
  color: white;
  text-decoration: underline;
}

li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

header {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100vw;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: none !important;
}
