@import "./variables";
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'),
        url(../Fonts/HelveticaNowText.ttf),
        format(ttf);
  }

    @font-face {
        font-family: 'lemon_milk';
        src: local('lemon_milk'),
            url(../Fonts/lemon_milk/LEMONMILK-Bold.otf),
            format(otf);
        font-weight: bold;
    }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Hevetica';
}
ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Hevetica';
    &:hover {
        text-decoration: underline;
    }
}

li {
    list-style-type: none;
    padding: 20px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 138px;
}

header {
    background-color: $violetPrimary;
   
}