$pc: 1200px;
$tablet: 768px;
$maxTablet: 991px;
$mobile: 525px;

@mixin responsive($medida) {
  @if $medida == pc {
    @media (min-width: $pc) {
      @content;
    }
  } @else if $medida == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $medida == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  } @else if $medida == tablet {
    @media (max-width: $maxTablet) {
      @content;
    }
  }
}
