$pc: 992px;
$tablet: 991px;
$mobile: 768px;

@mixin responsive($medida) {
  @if $medida==pc {
    @media (min-width: $pc) {
      @content;
    }
  }

  @else if $medida==tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }

  @else if $medida==mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }
}