.sucursalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
.sucursalMainContainer {
    display: flex;
    flex-direction: row;
}
.sucursalInformacion {
    overflow: scroll;
    height: 60vh;
    width: 50%;
    padding: 50px;
    padding-top: 0;
}
.sucursalInformacion::-webkit-scrollbar {
    width: 10px;
    color: black;
  }
.sucursalBotones {
    width: 40%;
    background-color: $violetPrimary;
    img {
      width:60px;
    }
    
}
.sucursalBoton {
  display: flex;
  color: white;
  text-decoration: none;
}

