@import "./variables";

.sucursalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-height: 1400px;
  //  @include responsive(mobile) {
  //   //  max-height: 130vh;
  //  }
}

.sucursalMainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.sucursalInformacion {
  overflow: hidden;
  width: 100vw;
  // padding: 50px;
  padding-top: 0;

  &__Opciones {
    margin-bottom: 120px;
  }
}

.sucursalInformacion::-webkit-scrollbar {
  width: 10px;
  color: black;
}

.sucursalBotones {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  height: 10rem;
  flex-direction: row;

  img {
    width: 60px;
  }

  h3 {
    display: none;
  }

  @include responsive(mobile) {
    h4 {
      font-size: 16px;
    }
  }
}

.sucursalContent {
  cursor: pointer;
  padding: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  font: $subtitulo;

  @include responsive(mobile) {
    padding: 0;

    h3 {
      margin-left: 0;
    }
  }
}

.sucursalBoton {
  cursor: pointer;
  display: flex;
  height: 70%;
  color: white;
  text-decoration: none;
  padding: 20px;
  width: 33.33%;
  border-radius: 10px 10px 0 0;

  &:hover {
    background-color: $violetTertiary;
  }

  @include responsive(mobile) {
    max-height: 100px;
  }
}

.btnWhite {
  cursor: pointer;
  padding: 20px;
  height: 100%;
  color: white;
  width: 33.33%;
  border-radius: 10px 10px 0 0;

  h3 {
    display: block;
    font-size: 20px;
    text-align: left;
    margin-left: 6.6rem;

    @include responsive(mobile) {
      font-size: 14px;
      padding: 2px;
    }
  }

  @include responsive(mobile) {
    max-height: 130px;

    h3 {
      margin-left: 0;
      text-align: center;
    }
  }
}

#sucursal1 {
  background-color: #A82585;
}

#sucursal2 {
  background-color: #CF3BA8;
}

#sucursal3 {
  background-color: #C7319FD9;
}

a {
  text-decoration: none;
}

.test {
  font: $texto;
  display: flex;
  margin: 50px auto 0px auto;
  justify-content: space-between;
  width: 80vw;
  position: relative;
  bottom: 250px;

  h4 {
    color: $violetSecondary;
    font-size: 30px;
  }

  p {
    margin: 0;
    margin-left: 20px;
    font-size: 25px;
  }

  @include responsive(tablet) {
    flex-direction: column-reverse;
    width: 100vw;
    position: relative;
    bottom: 30vh;
    align-items: center;

    img {
      width: 50px;
    }
  }
}

.contactoSucursal {
  margin: 25px auto;

  p {
    @include responsive(tablet) {
      font-size: 18px;
    }
  }
}

.fa-solid,
.fa-brands {
  font-size: 35px;
  color: $violetSecondary;

}

.ubicacionSucursal {
  position: relative;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40vw;

  h4 {
    font: $titulo;
    font-size: 20px;
    color: $violetSecondary;
    font-weight: bold;
  }

  p {
    margin: 5px auto;
  }

  .p1 {
    font-size: 30px;
  }

  .p2 {
    font-size: 23px;
  }

  .p3 {
    font-size: 20px;
  }

  @include responsive(mobile) {
    bottom: 0;
    margin-top: 0;
    width: 80vw;
  }
}

// MOBILE
.sucursalesMobile {
  @include responsive(tablet) {
    display: none;
  }
}

.carousel-item {
  padding: 50px;

  h3 {
    text-align: center;
    font: $texto2;
    color: $violetSecondary;
    font-size: 20px;
  }

  h4,
  h3 {
    margin-left: 20px;
  }

  h4 {
    font-size: 18px;
  }
}

.iconsMobile {
  i {
    color: $violetSecondary;
  }
}

.carouselSucursal {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  padding: 20px;

  img {
    width: 40px;
    height: auto;
  }

  h4 {
    font: $texto;
    font-size: 16px;
  }

  p {
    font: $texto;
    font-size: 16px;
  }
}

.imgCentral,
.sucursalInformacion {
  @include responsive(tablet) {
    width: 100vw;
  }
}

.imgCentral {
  @include responsive(tablet) {
    height: 40vh;
  }
}

.contactoSucursales {
  height: 40vh;
  margin-top: 150px;

  @include responsive(tablet) {
    margin-top: 5vh;
  }
}

.sucursalTitle {
  position: relative;
  bottom: 160px;
  font: $titulo;
  color: white;
  font-size: 40px;
  width: 40%;
  margin-left: 80px;

  @include responsive(tablet) {
    bottom: 30vh;
  }
}


.logoUbicacion {
  animation: logoAnimado 5s infinite;
}

@keyframes logoAnimado {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(30px)
  }

  100% {
    transform: translateY(-20px);
  }
}