$violetPrimary: #a82585;
$violetSecondary: #6b2380;

// TEXTOS Y TITULOS

$titulo: normal 4.3rem "lemonMilkBold", sans-serif;

$subtitulo: normal 1.8rem "lemonMilkRegular", sans-serif;

$subtituloLight: normal 1.8rem "lemonMilkLight", sans-serif;

$texto: normal 1.25rem "helveticaRegular", sans-serif;

$texto2: normal 1.25rem "helveticaMedium", sans-serif;

$texto3: normal 1.25rem "helveticaItalica", sans-serif;
