* {
  margin: 0%;
  padding: 0;
}

@font-face {
  font-family: "lemonBold";
  src: url(./Fonts/lemon_milk/LEMONMILK-Bold.otf);
}
@font-face {
  font-family: "lemonRegular";
  src: url(./Fonts/HelveticaNowText-Regular.ttf);
}
@font-face {
  font-family: "lemonLight";
  src: url(./Fonts/lemon_milk/LEMONMILK-Light.otf);
}

@font-face {
  font-family: "helveticaMedium";
  src: url(./Fonts/HelveticaNowText-Medium.ttf);
}

@font-face {
  font-family: "helveticaRegular";
  src: url(./Fonts/HelveticaNowText-Regular.ttf);
}

.carouselHeader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* position: relative; */
}
.carouselBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.imagenBackground {
  height: 100vh !important;
}
.carouselImagenes {
  position: absolute;
  bottom: 85%;
  z-index: 2;
  display: flex;
  align-items: flex-end;
}

.imagenCarousel {
  width: 55%;
  margin: 0 0 0 50px;
}

.carouselInfo {
  z-index: 3;
  position: relative;
  bottom: 170%;
  left: 47%;
  width: 43%;
  height: 80%;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.carouselInfo2 {
  display: none;
}
.infoContainer {
  padding: 20px 0;
  margin: auto 0;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  height: 100% !important;
}

h1 {
  font-family: "lemonBold";
  font-size: 4vw;
  margin: 10px 0 0 20px;
  width: 85%;
  color: #a82585;
}

span {
  color: #662483;
}

h2 {
  font-family: "lemonRegular";
  font-size: 1.5vw;
  margin: 10px 0 0 20px;
  width: 80%;
  color: #1d1d1b;
}
p {
  font-family: "helveticaMedium";
  font-size: 1.2vw;
  margin: 20px 0 0 20px;
  width: 80%;
  color: #1d1d1b;
}

li {
  margin-top: 20px;
  position: relative;
  float: left;
  list-style: none !important;

  margin-right: 20px;
}
.prev {
  z-index: 5;
  position: absolute;
  left: 40px;
  top: 40%;
  display: block;
  height: 50px;
  width: 50px;
  background: url("./images/arrow-left.png") no-repeat;
  background-size: contain;
}
.next {
  display: block;
  height: 50px;
  width: 50px;
  background: url("./images/arrow-right.png") no-repeat;
  background-size: contain;
  z-index: 5;
  position: absolute;
  right: 20px;
  top: 40%;
}

/* @media (min-width: 1200px) {
  .carouselImagenes {
    position: absolute;
    bottom: 600px;
  }
  .carouselInfo {
    bottom: 1080px;
  }
} */

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .carouselHeader {
    width: auto;
    height: 100vh;
    overflow: hidden;
    /* position: static !important; */
  }
  .carouselBackground {
    position: absolute;
    width: auto;
    height: fit-content;
    z-index: 1;
  }

  .carouselImagenes {
    position: absolute;
    top: -80%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .imagenCarousel {
    width: 100vw;
    height: auto;
    min-height: 65vh;
    margin: 0 auto;
    /* display: none !important; */
  }

  .carouselInfo {
    display: none !important;
  }

  .carouselInfo2 {
    z-index: 3;
    top: -185%;
    width: 90vw;
    max-width: 500px;
    height: 70vh;
    border-radius: 6px;
    margin: auto !important;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  }
  .infoContainer2 {
    padding: 0;
    display: flex;
    width: auto;
    height: 70vh !important;
    background: white;
  }

  .contenedorInfoMobile {
    padding: 0% 0;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1%;
  }
  h1 {
    font-family: "lemonBold";
    font-size: 9.5vw;
    margin: 30px 0px 0px 15px;
    width: 90%;
    color: #a82585;
  }

  span {
    color: #662483;
  }

  h2 {
    font-family: "lemonRegular";
    font-size: 5vw;
    /* margin: 10px 0px 0px 15px; */
    width: 85%;
    color: #1d1d1b;
  }
  p {
    font-family: "helveticaMedium";
    font-size: 4vw;
    /* margin: 20px 0px 20px 15px; */
    width: 85%;
    color: #1d1d1b;
  }

  li {
    margin-top: 20px;
    position: relative;
    float: left;

    margin-right: 20px;
  }
  .prev {
    display: none !important;
  }
  .next {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .carouselHeader {
    width: auto;
    height: 100vh;
    overflow: hidden;
    /* position: static !important; */
  }
  .carouselBackground {
    position: absolute;
    width: auto;
    height: fit-content;
    z-index: 1;
  }

  .carouselImagenes {
    position: absolute;
    top: -80%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .imagenCarousel {
    width: 100vw;
    height: auto;
    min-height: 65vh;
    margin: 0 auto;
    /* display: none !important; */
  }

  .carouselInfo {
    display: none !important;
  }

  .carouselInfo2 {
    z-index: 3;
    top: -185%;
    width: 90vw;
    max-width: 500px;
    height: 70vh;
    border-radius: 6px;
    margin: auto !important;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  }
  .infoContainer2 {
    padding: 0;
    display: flex;
    width: auto;
    height: 70vh !important;
    background: white;
  }

  .contenedorInfoMobile {
    padding: 0% 0;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
  }
  h1 {
    font-family: "lemonBold";
    font-size: 7vw;
    /* margin: 30px 0px 0px 15px; */
    width: 90%;
    color: #a82585;
  }

  span {
    color: #662483;
  }

  h2 {
    font-family: "lemonRegular";
    font-size: 4vw;
    /* margin: 10px 0px 0px 15px; */
    width: 85%;
    color: #1d1d1b;
  }
  p {
    font-family: "helveticaMedium";
    font-size: 3vw;
    /* margin: 20px 0px 20px 15px; */
    width: 85%;
    color: #1d1d1b;
  }

  li {
    margin-top: 20px;
    position: relative;
    float: left;

    margin-right: 20px;
  }
  .prev {
    display: none !important;
  }
  .next {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .carouselHeader {
    width: auto;
    height: 100vh;
    overflow: hidden;
    /* position: static !important; */
  }
  .carouselBackground {
    position: absolute;
    width: auto;
    height: fit-content;
    z-index: 1;
  }

  .carouselImagenes {
    position: absolute;
    top: -80%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .imagenCarousel {
    width: 100vw;
    height: auto;
    min-height: 65vh;
    margin: 0 auto;
    /* display: none !important; */
  }

  .carouselInfo {
    display: none !important;
  }

  .carouselInfo2 {
    z-index: 3;
    top: -188%;
    width: 90vw;
    /* max-width: 500px; */
    height: 75vh;
    border-radius: 6px;
    margin: auto !important;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  }
  .infoContainer2 {
    padding: 0;
    display: flex;
    width: auto;
    height: 75vh !important;
    background: white;
  }

  .contenedorInfoMobile {
    padding: 0% 0;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
  }
  h1 {
    font-family: "lemonBold";
    font-size: 9vw;
    /* margin: 30px 0px 0px 15px; */
    width: 90%;
    color: #a82585;
  }

  span {
    color: #662483;
  }

  h2 {
    font-family: "lemonRegular";
    font-size: 6vw;
    /* margin: 10px 0px 0px 15px; */
    width: 85%;
    color: #1d1d1b;
  }
  p {
    font-family: "helveticaMedium";
    font-size: 3.5vw;
    /* margin: 20px 0px 20px 15px; */
    width: 85%;
    color: #1d1d1b;
  }

  li {
    margin-top: 20px;
    position: relative;
    float: left;

    margin-right: 20px;
  }
  .prev {
    display: none !important;
  }
  .next {
    display: none !important;
  }
} ;
